*{
    margin:0;
    padding:0;
    font-family: "open sans", sans-serif;
    
}
.contenedor{
    border: solid 1px blueviolet;
    width: 100%;
    max-width:1000px;
    margin:auto;
    box-sizing: border-box;
    overflow:hidden;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 220px;
    
    
}

.cabecera img {
    width: 100px;
}

.cabecera_h1 {
    position:absolute;
    top:40px;
    left:150px;
}

.cabecera_frase {
    position: absolute;
    top:70px;
    left:235px;
}

.nav {
    margin: 10px 10px 0 0;
    position: absolute;
    background: none;
    height: auto;
    width: unset;
    border: none;
    top: 5px;
    left: 700px;
}


.nav_link_1 {
    background: #008899;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.nav_link_2 {
    background: #008899; 
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.nav_link_3 {
    background: #008899;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

/********************************/

.galeria {
    width: 100%
        
}